---
import CategoryCard from "../components/CategoryCard.astro"
import Layout from "../layouts/Layout.astro"
---

<Layout title="KathZM Shop - Categorias">
    
    <main>

        <section class="w-[var(--page-width)] text-black mx-auto pt-10">

			<h2 class="text-3xl text-center font-bold mb-5">Categorias</h2>

            <div>
                <h2 class="text-2xl font-bold mb-5">Hombre</h2>
                <CategoryCard category="man"/>
            </div>

            <div>
                <h2 class="text-2xl font-bold mb-5">Mujer</h2>
                <CategoryCard category="women"/>
            </div>

            <div>
                <h2 class="text-2xl font-bold mb-5">Niños</h2>
                <CategoryCard category="kids"/>
            </div>

		</section>

    </main>

</Layout>