---
import { srcMap } from "../main"
import Layout from "../layouts/Layout.astro"
---

<Layout title="KathZM Shop - Contacto">

    <main>

        <section class=" w-full px-3 lg:px-0 lg:w-[var(--page-width)] text-black mx-auto pt-10">

			<h2 class="text-3xl font-bold">Contactanos</h2>

            <iframe class="w-full mt-5" src={srcMap} width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

		</section>

    </main>
    
</Layout>