<li>
  <div class="flex items-center">
    <a href="/brands">Categorias</a>
    
    <svg id="iconDropdown" class="w-2.5 h-2.5 ms-2 transition-all" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
    </svg>
    
  </div>

  <ul class="dropdown-menu bg-black hidden text-sm absolute w-[150px] pt-2 z-10 text-gray-700 dark:text-gray-200 transition-all" aria-labelledby="dropdownHoverButton">
    <li class="block">
      <a href="/categories/man" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Hombre</a>
    </li>
    <li class="block">
      <a href="/categories/women" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Mujer</a>
    </li>
    <li class="block">
      <a href="/categories/kids" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Niños</a>
    </li>
  </ul>

</li>

<style>
  li:hover > .dropdown-menu  {
    display: block;
  }

  li:hover #iconDropdown {
    rotate: 180deg;
  }
</style>