---
import Dropdown from "./Dropdown.astro";
---

<header class="flex transition-all ease-in-out justify-evenly items-center h-[var(--nav-height)] w-full bg-black fixed top-0 shadow px-5 lg:px-0" id="mainNavbar">
    <section class="flex w-full lg:w-[var(--page-width)] items-center">
        <button type="button" id="btnNavbar" class="lg:hidden basis-0 flex-grow">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgb(255, 255, 255);transform: ;msFilter:;"><path d="M4 6h16v2H4zm0 5h16v2H4zm0 5h16v2H4z"></path></svg>
        </button>
        <nav id="navBar" class="absolute transition-all top-0 left-0 bottom-0 hidden w-full h-[30dvh] bg-black mt-[var(--nav-height)] text-white bg-red lg:static lg:h-auto lg:mt-0 lg:flex lg:flex-grow lg:basis-0">
            <ul class="flex flex-col lg:justify-between lg:flex-row overflow-auto h-full lg:gap-4 lg:items-center [&>li]:w-full [&>li>a]:w-full [&>li>a:hover]:bg-gray-500 lg:[&>li>a:hover]:bg-transparent [&>li>a]:px-5 [&>li>a]:block lg:[&>li>a]:px-1 [&>li>a]:py-1 lg:[&>li>a:hover]:border-b-2 border-b-white transition-all">
                <li><a href="/">Inicio</a></li>
                <Dropdown />
                <li><a href="/contact">Contacto</a></li>
            </ul>
        </nav>
        <div>
            <a href="/" aria-label="Ir a la página principal">
                <img src="/kz-black.png" alt="Logo de la tienda" width="50px">
            </a>
        </div>
        <div class="flex flex-grow justify-end">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgb(255, 255, 255);transform: ;msFilter:;"><path d="M19.023 16.977a35.13 35.13 0 0 1-1.367-1.384c-.372-.378-.596-.653-.596-.653l-2.8-1.337A6.962 6.962 0 0 0 16 9c0-3.859-3.14-7-7-7S2 5.141 2 9s3.14 7 7 7c1.763 0 3.37-.66 4.603-1.739l1.337 2.8s.275.224.653.596c.387.363.896.854 1.384 1.367l1.358 1.392.604.646 2.121-2.121-.646-.604c-.379-.372-.885-.866-1.391-1.36zM9 14c-2.757 0-5-2.243-5-5s2.243-5 5-5 5 2.243 5 5-2.243 5-5 5z"></path></svg>
        </div>
    </section>
</header>

<script>
    // Enable hidden navbar
    {
        const mainNavbar = document.querySelector('#mainNavbar');
        const secondaryNavbar = document.querySelector('#navBar');
        const btnNavbar = document.querySelector('#btnNavbar');
        let lastScrollY = window.scrollY;

        window.addEventListener('scroll', () => {
            if(lastScrollY < window.scrollY && lastScrollY > 45) {
                mainNavbar.classList.add('-translate-y-[75px]');
                secondaryNavbar.classList.add('hidden');
            } else {
                mainNavbar.classList.remove('-translate-y-[75px]');
            }

            lastScrollY = window.scrollY;
        });

        btnNavbar.addEventListener('click', () => {
            if(secondaryNavbar.classList.contains('hidden')) {
                secondaryNavbar.classList.remove('hidden');
            } else {
                secondaryNavbar.classList.add('hidden');
            }
        });
    }
</script>