---
import Layout from "../../../layouts/Layout.astro";

export const prerender = false;
const { gender, type } = Astro.params;

---

<Layout title="">

    <main>

        <section class="w-[var(--page-width)] text-black mx-auto pt-10">

            <h1>{gender}, {type}</h1>

			<section class="w-100 flex justify-center mt-5">
				<a href="/allProducts" class="bg-black px-4 py-2 text-white rounded shadow">Mostrar todo</a>
			</section>

		</section>

    </main>

</Layout>