---
import '@fontsource/alegreya-sans-sc/100.css';
import '@fontsource/alegreya-sans-sc/500.css';
import '@fontsource/alegreya-sans-sc/900.css';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="icon" type="image/svg+xml" href="/kz-black.png" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body id="bodySection">
		<Header />
		<slot />
		<Footer />
	</body>
</html>

<style is:global>
	:root {
		--nav-height: 90px;
		--page-width: 1000px;
	}
	* {
		box-sizing: border-box;
	}
	body {
		padding-top: var(--nav-height);
		font-family: 'Alegreya Sans SC', sans-serif;
	}
	html {
		background: #ffffff;
		color-scheme: light dark;
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
	@media screen and (max-width: 1014px) {
		:root {
			--page-width: 100%;
		}
	}
</style>
